<%= flash[:notice] %>

<h1> Editar Músico </h1>

<%= form_with model: @musician do |new| %>
  <div class="field">
    <%= new.label :name, 'Nome' %>
    <%= new.text_field :name, value: @musician.name %>
  </div>

  <div class="actions">
    <%= new.submit 'Editar músico' %>
  </div>
<% end %>

<%= link_to 'Voltar', musicians_path %>
