<%= flash[:notice] %>

<h1> Músicas Salvas </h1>

<table>
  <thead>
  <tr>
    <th> Nome </th>
    <th> Álbum </th>
    <th> Gênero musical </th>
    <th></th>
    <th> Artista </th>
    <th> Explícita </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.album.name %></td>
    <td><%= song.musical_gender.name %></td>
    <td id="<%= song.id %>"></td>
    <td><%= song.album.musician.name %></td>
    <td><%= song.explicit.tr('1', 'X').tr('0', '') %></td>
    <td><%= link_to 'Editar', edit_song_path(song) %></td>
    <td><%= link_to 'Deletar', song_path(song), method:  :delete, data: {confirm: 'Hell, I love pop-ups!'} %></td>
    <td><button id="<%= "like" << song.id.to_s %>"><i class="fas fa-heart"></i></button></td>
    <script>
      document.getElementById("<%= "like" << song.id.to_s %>").addEventListener("click", function () {
          document.getElementById("<%= song.id %>").innerHTML = "<i class=\"fas fa-heart\"></i>"
      })
    </script>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Nova música', new_song_path %>
<%= link_to 'Voltar', root_path %>
