<h1> Novo álbum </h1>

<%= form_with model: @album do |new| %>
  <div class="field">
    <%= new.label :name, 'Nome' %>
    <%= new.text_field :name %>
  </div>

  <div class="field">
    <%= new.label :musician_id, 'Artista' %>
    <%= new.select :musician_id, options_for_select(@musicians.map{ |musician| [musician.name, musician.id] }) %>
  </div>

  <div class="actions">
    <%= new.submit 'Criar album' %>
  </div>
<% end %>

<%= link_to 'Voltar', albums_path %>
