<h1> Editar Gênero Musical </h1>

<%= form_with model: @musical_gender do |edit| %>
  <div class="field">
    <%= edit.label :name, 'Nome' %>
    <%= edit.text_field :name, value: @musical_gender.name %>
  </div>

  <div class="actions">
    <%= edit.submit 'Editar Gênero' %>
  </div>
<% end %>

<%= link_to 'Voltar', musical_genders_path %>
