<h1> Novo Gênero Musical </h1>

<%= form_with model: @musical_gender do |new| %>
  <div class="field">
    <%= new.label :name, 'Nome' %>
    <%= new.text_field :name %>
  </div>

  <div class="actions">
    <%= new.submit 'Criar Gênero' %>
  </div>
<% end %>

<%= link_to 'Voltar', musical_genders_path %>
